.academy-section {
  align-items: center;
  display: flex;
  // gap: 3rem;
  justify-content: space-between;
  // max-width: toRem(1137.87);
  width: 100%;

  &__description {
    flex: 1;
    min-width: toRem(405);
  }

  &__img {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: toRem(240);
    position: relative;
  }

  &--inv {
    flex-direction: row-reverse;
    text-align: right;
  }

  &--dev {
    // gap: toRem(68);
  }

  &--test {
    gap: toRem(100);
    margin: 0;
    margin-top: toRem(141);
    padding: 0;
  }

  &--front {
    gap: toRem(129.56);
    margin-top: toRem(238);
  }

  &--kids {
    gap: toRem(174.62);
    margin-bottom: toRem(314);
    margin-top: toRem(154);
  }
}

.img {
  &__dev {
    @include reset-list-style;

    bottom: 7rem;
    display: flex;
    justify-content: center;
    left: 14rem;
    position: relative;
    width: 100%;
  }

  &__test {
    @include reset-list-style;

    display: block;
    max-width: toRem(352.6);
    // position: relative;
    width: 100%;
  }

  &__front {
    @include reset-list-style;

    max-width: toRem(453.14);
    width: 100%;
  }

  &__kids {
    @include reset-list-style;

    max-width: toRem(458.38);
    width: 100%;
  }
}

// .path {
//   position: absolute;

//   &--dev {
//     bottom: -13rem;
//     left: -8rem;
//     // position: absolute;
//     width: 134%;
//   }

//   &--test {
//     right: 0;
//     top: -9rem;
//     width: 118%;
//   }

//   &--kids {
//     left: -6rem;
//     top: -3rem;
//     width: 140%;
// }
// }
