.academy-section {
  align-items: center;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  // max-width: toRem(1137.87);
  width: 100%;

  &__description {
    flex: 1;
    min-width: toRem(405);
  }

  &__img {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: toRem(240);
    position: relative;
  }

  &--inv {
    flex-direction: row-reverse;
    text-align: right;
  }

  &--dev {
    gap: toRem(100);
  }

  &--test {
    gap: toRem(180.27);
    margin-top: toRem(141);
  }

  &--front {
    gap: toRem(129.56);
    margin-top: toRem(238);
  }

  &--kids {
    gap: toRem(174.62);
    margin-top: toRem(154);
  }
}

.img {
  &__dev {
    @include reset-list-style;

    bottom: 4rem;
    max-width: toRem(430.17);
    position: relative;
    width: 100%;
  }

  &__test {
    @include reset-list-style;

    width: toRem(352.6);
  }

  &__front {
    @include reset-list-style;

    width: toRem(453.14);
  }

  &__kids {
    @include reset-list-style;

    width: toRem(458.38);
  }
}

.path {
  // position: relative;
  // width: 100%;
  // overflow: hidden;

  &--dev {
    bottom: -13rem; // height: 100%
    left: -5rem;
    // max-height: toRem(646.76);
    // max-width: toRem(665.02);
    position: absolute;
    width: 134%;
  }
}
