@use '/src/sass/utilities/mixins/' as *;
@use '/src/sass/utilities/functions/' as *;

.carousel {
  align-items: center;
  display: flex;

  &__nav {
    cursor: pointer;
    fill: var(--primary-color);
    height: toRem(20);
    width: toRem(20);
  }

  &__nav-prev {
    margin-left: calc(var(--spacer-5xl) * -1);
    margin-right: var(--spacer-l);
    transform: rotate(90deg);
  }

  &__nav-next {
    margin-left: var(--spacer-l);
    margin-right: calc(var(--spacer-5xl) * -1);
    transform: rotate(-90deg);
  }
}
