@use '/src/sass/utilities/mixins/' as *;
@use '/src/sass/utilities/functions/' as *;

.carousel {
  align-items: center;
  display: flex;

  //TODO: optimize scss
  &__nav {
    cursor: pointer;
    height: 20px;
    width: 20px;

    &-prev {
      cursor: pointer;
      height: 20px;
      margin-left: -40px;
      margin-right: 20px;
      transform: rotate(90deg);
      width: 20px;
    }

    &-next {
      cursor: pointer;
      height: 20px;
      margin-left: 20px;
      margin-right: -40px;
      transform: rotate(-90deg);
      width: 20px;
    }
  }

  &__testimonials {
    align-items: flex-start;
    display: flex;
    margin-left: 20px;
    width: 100%;
  }

  &__testimonials-1 {
    justify-content: center;
  }

  &__testimonials-2 {
    gap: 80px;
    justify-content: center;
  }

  &__testimonials-3 {
    justify-content: space-between;
  }
}
