.carousel {
  align-items: center;
  display: flex;
  width: 100%;

  //TODO: optimize scss
  &__nav {
    cursor: pointer;
    height: 20px;
    width: 20px;

    &-prev {
      cursor: pointer;
      height: 20px;
      margin-right: 20px;
      transform: rotate(90deg);
      width: 20px;
    }

    &-next {
      cursor: pointer;
      height: 20px;
      margin-left: 20px;
      transform: rotate(-90deg);
      width: 20px;
    }
  }

  &__testimonials {
    align-items: flex-start;
    display: flex;
    height: 550px;
    justify-content: space-between;
    margin: 0 20px;
    width: 100%;
  }
}
