.academy-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include tablet-landscape {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    &:not(.academy-section--dev) {
      gap: 8rem;
    }
  }

  &__description {
    flex-basis: 50%;
    min-width: toRem(380);

    @include tablet-landscape {
      flex-basis: 100%;
    }
  }

  &__img {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    position: relative;

    @include tablet-landscape {
      flex-basis: 50%;
      width: 100%;
    }
  }

  &--inv {
    align-items: flex-start;
    flex-direction: row-reverse;
    text-align: right;

    @include tablet-landscape {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      text-align: center;
    }
  }

  &--dev {
    gap: 5rem;
    margin-top: 20rem;
  }

  &--test {
    margin-top: 14.1rem;

    @include tablet-landscape {
      width: 100%;
    }
  }

  &--front {
    margin-top: toRem(175);
  }

  &--kids {
    align-self: flex-start;
    display: flex;
    // gap: toRem(55);
    margin-top: toRem(120);
  }
}

.img {
  &__dev {
    bottom: 3rem;
    // display: flex;
    // justify-content: center;
    left: 10rem;
    position: relative;
    width: 67.5%;

    @include desktop {
      min-width: toRem(330);
    }

    @include tablet-landscape {
      position: static;
    }
  }

  &__dev--path {
    // bottom: 7rem;
    // left: 1rem;
    // min-width: toRem(315);
    position: absolute;
    top: -26rem;
    width: 100%;

    @include desktop {
      left: 5rem;
      width: 120%;
    }

    @include desktop-small {
      left: 5rem;
      top: -20rem;
      width: 130%;
    }
  }

  &__test {
    align-self: flex-start;
    display: flex;
    // justify-content: center;
    width: 55%;

    @include desktop {
      min-width: toRem(250);
    }

    @include tablet-landscape {
      width: 100%;
    }
  }

  &__test--path {
    // min-width: toRem(350);
    position: absolute;
    right: 7rem;
    top: -10rem;
    width: 100%;

    @include desktop {
      right: 3rem;
      width: 120%;
    }

    @include desktop-small {
      right: 1rem;
      top: -8.5rem;
      width: 130%;
    }
  }

  &__front {
    // bottom: 3rem;
    // display: flex;
    // justify-content: center;
    min-width: toRem(300);
    // top: -5rem;
    width: 71%;

    @include desktop {
      min-width: toRem(324);
    }

    @include mobile-only {
      min-width: toRem(280);
    }
  }

  &__kids {
    align-self: flex-start;
    display: flex;
    left: toRem(55);
    position: relative;
    top: 2.5rem;
    width: 71.6%;

    @include desktop {
      min-width: toRem(325);
      top: -2rem;
    }

    @include desktop-small {
      top: -6rem;
    }

    @include tablet-landscape {
      position: static;
    }

    @include mobile-only {
      min-width: toRem(280);
    }
  }

  &__kids--path {
    left: toRem(55);
    position: absolute;
    top: -4rem;
    width: 102.7%;

    @include desktop {
      top: -10rem;
      width: 120%;
    }

    @include desktop-small {
      left: toRem(40);
      top: -14rem;
      width: 130%;
    }
  }
}
