.steps-section-wrapper {
  padding-top: toRem(230);
}

.admission-section-wrapper {
  padding: toRem(300) 0;

  @include mobile-only {
    padding: toRem(150) 0;
  }
}

.schedule-section-wrapper {
  padding: toRem(50) 0 toRem(300);

  @include tablet-landscape {
    padding: 0 0 toRem(150);
  }
}

.media-section-wrapper {
  padding: toRem(190) 0 toRem(138);
}
