.register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.heading {
  @include h1-h2;
  @include word-wrap;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__register-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__image-container {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 50%;
  }
}

.academy-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  // &__sub-heading {
  //   @include heading-3;
  //   @include word-wrap;
  // }

  // &__academy-filter{

  // }

  // &__city{

  // }
}

.personal-info-container {
  &__sub-heading {
    @include heading-3;
    @include word-wrap;
  }
  // &__form{

  // }
}
