.register-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  &__heading {
    @include h1-h2;
    @include word-wrap;
  }

  &__particles-top {
    position: absolute;
    right: toRem(100);
    top: toRem(80);
    width: 50%;
    z-index: var(--z-particles);
  }

  &__particles-bottom {
    left: toRem(130);
    position: absolute;
    top: toRem(1000);
    width: 75%;
    z-index: var(--z-particles);
  }
}

.content-container {
  display: flex;
  gap: toRem(100);
  justify-content: space-between;
  width: 100%;

  @include tablet-landscape {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__register-container {
    display: flex;
    flex-direction: column;
    width: 45%;

    @include tablet-landscape {
      width: 100%;
    }
  }

  &__image-container {
    display: flex;
    justify-content: flex-end;
    margin: toRem(200) 0 0 0;
    width: 55%;

    @include tablet-landscape {
      justify-content: center;
      width: 60%;
    }
    @include mobile-only {
      display: none;
    }
  }
}
