.button-wrapper {
  display: inline-block;
  text-decoration: none;
}

.button {
  align-items: center;
  background: var(--color-blue-200);
  border: 0;
  border-radius: var(--border-radius-m);
  color: var(--color-white);
  display: inline-flex;
  font-family: var(--font-family-base);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  height: toRem(48);
  justify-content: center;
  padding: 0 var(--spacer-xl);
  text-decoration: none;

  &:hover {
    background: var(--color-blue-300);
  }

  &:active {
    background: var(--color-blue-100);
  }

  &:focus {
    background: var(--color-blue-100);
    border: 0.2rem solid var(--color-blue-300);
  }

  &:focus-visible {
    border: 0;
    outline: 0.4rem dashed var(--color-accent-orange-400);
  }
}

.button--green {
  background: var(--color-green-200);
  border: 0;

  &:hover {
    background: var(--color-green-100);
  }

  &:active {
    background: var(--color-green-300);
  }

  &:focus {
    background: var(--color-green-300);
    border: 0.2rem solid var(--color-green-100);
  }

  &:focus-visible {
    border: 0;
    outline: 0.4rem dashed var(--color-accent-orange-400);
  }
}

.button--red {
  background: var(--color-red-150);
  border: 0;

  &:hover {
    background: var(--color-red-100);
  }

  &:active {
    background: var(--color-red-300);
  }

  &:focus {
    background: var(--color-red-300);
    border: 0.2rem solid var(--color-red-100);
  }

  &:focus-visible {
    border: 0;
    outline: 0.4rem dashed var(--color-accent-orange-400);
  }
}

.button--violet {
  background: var(--color-light-purple-400);
  border: 0;

  &:hover {
    background: var(--color-light-purple-500);
  }

  &:active {
    background: var(--color-light-purple-300);
  }

  &:focus {
    background: var(--color-light-purple-300);
    border: 0.2rem solid var(--color-light-purple-500);
  }

  &:focus-visible {
    border: 0;
    outline: 0.4rem dashed var(--color-accent-orange-400);
  }
}
