.button {
  align-items: center;
  background: var(--button-color);
  border: 0;
  border-radius: var(--border-radius-l);
  color: var(--color-white);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-base);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  height: toRem(48);
  justify-content: center;
  line-height: var(--line-height-xl);
  padding: toRem(12.5) var(--spacer-xl);
  text-decoration: none;
  transition: background-color 0.3s;
  width: fit-content;

  &:focus-visible {
    outline: toRem(4) dashed var(--button-focus-tab-color);
    outline-offset: 0;
  }

  &:hover:not([disabled]) {
    background: var(--button-hover-color);
  }

  &:active:not([disabled]) {
    background: var(--button-active-color);
  }

  @include tablet-landscape {
    align-self: center;
  }

  &[disabled] {
    cursor: not-allowed;
    filter: grayscale(0.3);
    opacity: 0.3;
  }
}
