.carousel {
  &__nav {
    align-items: center;
    background: none;
    border: 0;
    cursor: pointer;
    display: flex;
    fill: var(--primary-color);
    justify-content: center;
    padding: 0;
    top: 44%;
    z-index: var(--z-modal);
  }

  &__nav-prev {
    height: 5rem;
    // margin-left: calc(var(--spacer-5xl) * -1);
    // margin-right: var(--spacer-l);
    position: absolute;
    transform: rotate(90deg) translateY(toRem(50));
    width: 5rem;

    @include mobile-only {
      margin-left: calc(var(--spacer-3xl) * -1);
      margin-right: var(--spacer-s);
    }
  }

  &__nav-next {
    height: 5rem;
    // margin-left: var(--spacer-l);
    // margin-right: calc(var(--spacer-5xl) * -1);
    position: absolute;
    transform: rotate(-90deg) translateY(toRem(660));
    width: 5rem;

    // @include mobile-only {
    //   margin-left: var(--spacer-s);
    //   margin-right: calc(var(--spacer-3xl) * -1);
    // }
  }
}
