.form-container {
  display: flex;
  flex-direction: column;
  padding-top: toRem(80);

  @include tablet-landscape {
    align-items: center;
    justify-content: center;
  }

  &__header {
    @include heading-3;
    @include word-wrap;

    margin: 0;
    padding-bottom: var(--spacer-3xl);

    @include tablet-landscape {
      text-align: center;
    }
  }
}

.filter-container {
  display: flex;
  flex-direction: column;
  padding: var(--spacer-3xl) 0 var(--spacer-7xl) 0;

  &__filter {
    padding-left: var(--spacer-s);
  }
}

.radio-container {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacer-7xl);

  &__multiple-button-container {
    display: flex;
    gap: var(--spacer-7xl);
  }
}

.single-radio-button-container {
  display: flex;
  gap: var(--spacer-xl);

  &__value {
    color: var(--color-grey-400);
    display: flex;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
  }

  &__button {
    color: var(--primary-color);
    transform: scale(1.5);
  }
}

.input-container {
  display: flex;
  flex-direction: column;

  &__input {
    border: 1px solid var(--color-grey-300);
    border-radius: toRem(10);
    padding: toRem(13);
  }
}

.checkbox-container {
  align-self: flex-start;
  display: flex;
  gap: var(--spacer-xl);
  justify-content: flex-start;
  padding: var(--spacer-7xl) 0;

  &__checkbox {
    align-self: flex-start;
    border: 2px solid var(--color-grey-300);
    border-radius: toRem(10);
    display: flex;
    margin-top: toRem(3);
  }

  &__text {
    @include paragraph;

    margin: 0;
  }
}

.label {
  color: var(--color-light-purple-400);
  font-family: var(--font-family-base);
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  padding-bottom: var(--spacer-m);

  &--personal {
    color: var(--color-grey-300);
    padding-bottom: toRem(5);
    padding-top: var(--spacer-l);
  }

  &--error-message {
    color: var(--color-red-150);
    padding: 0;
  }

  &::before {
    bottom: toRem(-8);
    color: var(--color-red-150);
    content: '*';
    display: block;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    height: 10px;
    line-height: var(--line-height-l);
    position: relative;
    right: var(--spacer-s);
    width: toRem(10);
  }
}

.input-container label:first-child {
  padding-top: 0;
}
