@mixin page-layout($padding-t: 4rem, $padding-b: 4rem, $padding-rl: 8rem) {
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: calc($padding-b - 4rem);
  padding-left: calc($padding-rl - 8rem);
  padding-right: calc($padding-rl - 8rem);
  padding-top: calc($padding-t - 4rem);
}
