@mixin h1-h2 {
  color: var(--color-purple-400);
  font-family: var(--font-family-headline);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  line-height: normal;
}

@mixin paragraph {
  color: var(--color-grey-400);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-l);
}
