@use '/src/sass/utilities/functions/' as *;

.date-item {
  align-items: center;
  background-color: var(--color-white);
  border: var(--border-width-m) solid var(--primary-color);
  border-radius: var(--border-radius-xs);
  color: var(--primary-color);
  display: flex;
  height: toRem(50);
  line-height: var(--line-height-l);

  &__date {
    border-right: var(--border-width-m) solid var(--primary-color);
    display: flex;
    flex-grow: 1;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    justify-content: space-between;
    padding: 0 var(--spacer-m);
  }

  &__text {
    display: flex;
    flex-grow: 2;
    padding-left: var(--spacer-m);

    &--icon {
      height: toRem(20);
      margin-right: var(--spacer-s);
      width: toRem(14);
    }
  }
}

.date-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__item {
    align-items: flex-end;
    display: flex;
    height: 50%;
  }

  &__day {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
  }
}
