@use '/src/sass/utilities/functions/' as *;

.date-item {
  align-content: center;
  align-items: center;
  background-color: var(--color-white);
  border: var(--border-width-m) solid var(--primary-color);
  border-radius: var(--border-radius-xs);
  color: var(--primary-color);
  display: flex;
  height: toRem(50);
  justify-content: center;
  line-height: var(--line-height-l);

  &__date {
    border-right: var(--border-width-m) solid var(--primary-color);
    display: flex;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    justify-content: center;
    width: 33%;

    &--small {
      width: 25%;
    }
  }

  &__text {
    display: flex;
    gap: var(--spacer-s);
    padding-left: var(--spacer-m);
    width: 67%;

    &--small {
      width: 75%;
    }
  }
}

.date-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 20%;

  &__item {
    align-items: flex-end;
    display: flex;
    height: 50%;
  }

  &__day {
    display: flex;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
  }
}

.icon {
  height: toRem(20);
  width: toRem(14);
}
