@use '/src/sass/utilities/functions' as *;
@use '/src/sass/utilities/mixins' as *;

.academy {
  display: flex;
  flex-direction: column;

  &--inv {
    align-items: flex-end;
  }

  @include tablet-landscape {
    align-items: center;
    text-align: center;
  }

  @include mobile-only {
    padding: 0 6rem;
  }
}

.academy__title {
  @include header-3;

  margin: 0 0 var(--spacer-4xl);
}

.academy__text {
  @include paragraph;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  margin: 0 0 var(--spacer-6xl);
  width: 90%;
  word-wrap: break-word;
}

// button placeholder
.academy__link {
  align-items: center;
  background-color: var(--color-light-purple-400);
  border-radius: toRem(48);
  color: var(--color-white);
  display: inline-flex;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  height: toRem(48);
  justify-content: center;
  margin: 0;
  max-width: toRem(147);
  padding: toRem(12) toRem(24);

  &--inv {
    align-self: flex-end;

    @include tablet-landscape {
      align-self: unset;
    }
  }
}
