.step {
  display: flex;
  flex-direction: column;
  width: 40%;

  &__title {
    @include heading-3;
  }

  &__image {
    height: 130px;
    width: 200px;
  }

  &__paragraph {
    @include paragraph;
  }
}
