.step-container {
  display: flex;
  gap: toRem(12);
  justify-content: flex-start;
  padding-bottom: var(--spacer-xl);

  @include tablet-landscape {
    align-items: center;
    flex-direction: column;
    gap: toRem(50);
    justify-content: center;
    padding-bottom: toRem(80);
  }

  &--inverted {
    justify-content: flex-end;
  }

  &--1 {
    grid-row-end: span 2;
  }

  &--2 {
    grid-column-start: 2;
    grid-row-end: span 2;
    grid-row-start: 2;

    @include tablet-landscape {
      grid-column-start: 1;
      grid-row-end: span 2;
      grid-row-start: 3;
    }
  }

  &--3 {
    grid-row-end: span 2;
    grid-row-start: 3;

    @include tablet-landscape {
      grid-row-end: span 2;
      grid-row-start: 5;
    }
  }

  &--4 {
    grid-column-start: 2;
    grid-row-end: span 2;
    grid-row-start: 4;

    @include tablet-landscape {
      grid-column-start: 1;
      grid-row-end: span 2;
      grid-row-start: 7;
    }
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  order: 1;
  //position: relative;
  width: 67%;

  &--inverted {
    order: 2;
    text-align: right;

    @include tablet-landscape {
      order: 1;
    }
  }

  &__title {
    @include heading-3;
    @include word-wrap;

    border-bottom: 2px solid var(--primary-color);
    margin: 0;
    padding-bottom: var(--spacer-m);
    padding-top: calc(5.5vw - ((var(--spacer-m)) + (var(--font-size-l))));

    // @media screen and (max-width: 1308px) {
    //   padding-top: 0;
    // }

    @include tablet-landscape {
      padding-top: 0;
      text-align: center;
    }
  }

  &__paragraph {
    @include paragraph;
    @include word-wrap;

    margin: 0;
    padding-top: var(--spacer-xl);

    @include tablet-landscape {
      text-align: center;
    }
  }

  @include tablet-landscape {
    width: 100%;
  }
}

.image-container {
  display: flex;
  justify-content: flex-start;
  left: 38rem;
  order: 2;
  //position: absolute;
  //top: -2rem;
  width: fit-content;

  &--inverted {
    justify-content: flex-end;
    left: auto;
    order: 1;
    right: 36rem;

    @include tablet-landscape {
      justify-content: center;
      order: 2;
    }
  }

  @include tablet-landscape {
    justify-content: center;
    width: 100%;
  }

  @include mobile-only {
    display: none;
  }

  &__image {
    height: 11vw;
    //position: absolute;
    width: 14vw;

    @include tablet-landscape {
      height: 20vw;
      width: 25vw;
    }

    // &--1 {
    //   left: -0.8rem;

    //   @include tablet-landscape {
    //     left: auto;
    //     top: -0.5rem;
    //   }
    // }

    // &--2 {
    //   right: auto;

    //   // @include tablet-landscape {
    //   //   right: auto;
    //   // }
    // }

    // &--3 {
    //   left: 1rem;

    //   @include tablet-landscape {
    //     left: 1.5rem;
    //   }
    // }

    // &--4 {
    //   right: -3.5rem;
    //   top: -1rem;

    //   @include tablet-landscape {
    //     right: -2rem;
    //     top: -1rem;
    //   }
    // }
  }
}

// .image-circle {
//   background-color: var(--color-white);
//   border: 2px solid var(--primary-color);
//   border-radius: 50%;
//   height: 11vw;
//   position: relative;
//   width: 11vw;

//   @include tablet-landscape {
//     height: 20vw;
//     width: 20vw;
//   }

//   &__illustration {
//     height: 11vw;
//     position: absolute;
//     width: 14.5vw;

//     @include tablet-landscape {
//       height: 20vw;
//       width: 25vw;
//     }

//     &--1 {
//       left: -0.8rem;

//       @include tablet-landscape {
//         left: auto;
//         top: -0.5rem;
//       }
//     }

//     &--2 {
//       right: auto;

//       // @include tablet-landscape {
//       //   right: auto;
//       // }
//     }

//     &--3 {
//       left: 1rem;

//       @include tablet-landscape {
//         left: 1.5rem;
//       }
//     }

//     &--4 {
//       right: -3.5rem;
//       top: -1rem;

//       @include tablet-landscape {
//         right: -2rem;
//         top: -1rem;
//       }
//     }
//   }

//   &__number-container {
//     align-items: center;
//     background-color: var(--color-white);
//     border: 2px solid transparent;
//     border-radius: 50%;
//     display: flex;
//     height: 4vw;
//     justify-content: center;
//     padding: 0 var(--spacer-s) var(--spacer-s) 0;
//     width: 4vw;

//     @include tablet-landscape {
//       height: 7vw;
//       width: 7vw;
//     }
//   }

//   &__number {
//     @include heading-3;

//     font-size: 3vw;

//     @include tablet-landscape {
//       font-size: 5vw;
//     }
//   }
// }
