.section-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// .steps-container {
// }

// .container {
//   display: flex;
//   flex-direction: column;
//   gap: var(--spacer-xl);
//   width: 50%;

//   &--left {
//   }

//   &--right {
//     padding-top: toRem(100);
//   }
// }
