.steps-section {
  position: relative;
  width: 100%;

  &__steps-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 20%);

    @include tablet-landscape {
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }
  }

  &__path {
    height: toRem(630);
    left: -5rem;
    position: absolute;
    stroke: var(--primary-color);
    stroke-width: 2px;
    top: toRem(250);
    transform: translateY(-50%);
    z-index: var(--z-paths);

    @include tablet-landscape {
      display: none;
    }
  }

  &__particles-top {
    height: toRem(300);
    position: absolute;
    right: -1rem;
    top: -14rem;
    width: toRem(450);
    z-index: var(--z-particles);

    @include tablet-landscape {
      display: none;
    }
  }

  &__particles-bottom {
    bottom: -15rem;
    height: toRem(300);
    left: toRem(20);
    position: absolute;
    width: toRem(500);
    z-index: var(--z-particles);

    @include tablet-landscape {
      display: none;
    }
  }
}
