.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  &__main {
    @include mobile-only {
      padding: var(--spacer-5xl);
    }

    display: flex;
    flex: 1;
    padding: var(--spacer-5xl) toRem(80);
  }
}
