@use '/src/sass/utilities/mixins/index' as *;
@use '/src/sass/utilities/functions/index' as *;

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  &__main {
    @include mobile-only {
      padding: var(--spacer-5xl);
    }

    padding: var(--spacer-5xl) toRem(80);
  }
}
