@use '/src/sass/utilities/mixins/' as *;
@use '/src/sass/utilities/functions/' as *;

.testimonials-section {
  display: flex;
  flex-direction: column;

  &__title {
    align-self: flex-end;
    color: var(--primary-color);
    font-family: var(--font-family-headline);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xl);
    margin: 0 0 toRem(66);
  }
}
