@use '/src/sass/utilities/mixins/' as *;

.promo-section {
  @include tablet-landscape {
    padding: 0;
  }

  @include tablet-portrait {
    flex-direction: column;
  }

  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--spacer-5xl) 0;
}

.section-text {
  @include tablet-landscape {
    padding: 0;
    width: 55%;
  }

  @include tablet-portrait {
    width: 100%;
  }

  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  padding: var(--spacer-xxl) 0 0 0;
  width: 36%;
  word-break: break-word;

  &__heading {
    @include h1-h2;

    margin: 0;
  }

  &__text {
    @include paragraph;

    margin-bottom: var(--spacer-6xl);
    margin-top: var(--spacer-4xl);
  }
}

.section-image {
  @include tablet-landscape {
    width: 35%;
  }

  @include tablet-portrait {
    margin-top: var(--spacer-m);
    width: 60%;
  }

  @include mobile-only {
    display: none;
  }

  margin: 0;
  padding: 0;
  width: 50%;
}
