.expandable-card {
  &__body {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--spacer-l);
    position: relative;

    &::before {
      background-color: var(--primary-color);
      border-bottom-left-radius: 2rem;
      content: '';
      height: 2rem;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      transition: all 0.3s;
      width: 2rem;
      z-index: 11;
    }

    &::after {
      background-color: var(--color-white);
      content: '';
      height: 2rem;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      width: 2rem;
      z-index: 10;
    }
  }

  background-color: var(--primary-color);
  border: var(--border-width-m) solid var(--primary-color);
  border-radius: var(--border-radius-s);
  box-shadow: toRem(-20) toRem(20) 0 0 var(--color-grey-100);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  width: toRem(266);

  &:hover {
    background: var(--expandable-card-hover-color);
    border-color: var(--expandable-card-hover-color);

    .expandable-card__body::before {
      background: var(--expandable-card-hover-color);
    }
  }

  // &__header {
  // }

  &__title {
    align-items: flex-start;
    color: var(--color-white);
    display: flex;
    font-family: var(--font-family-base);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    gap: var(--spacer-l);
    justify-content: space-between;
    line-height: var(--line-height-l);
    padding: var(--spacer-l);
  }

  .title {
    margin: 0;
  }

  .button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .button-icon {
    fill: var(--color-white);
    height: toRem(12);
  }

  .expandable-card__title--expanded {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-s);
    gap: 1rem;
    padding: 0 var(--spacer-l) var(--spacer-l) var(--spacer-l);

    .lectors {
      align-items: flex-start;
      display: flex;
      gap: 1rem;
    }

    .time {
      align-items: flex-start;
      display: flex;
      gap: 1rem;
      justify-content: flex-start;
    }

    .hour {
      border-right: 2px solid var(--color-white);
      padding-right: 1rem;
    }

    // .duration {
    // }

    .title--expanded__icon {
      flex: 0 0 auto;
      height: toRem(14);
      width: toRem(14);
    }
  }

  @include tablet-portrait {
    box-shadow: toRem(-15) toRem(15) 0 0 var(--color-grey-100);
  }
}

.expandable-card + .expandable-card {
  margin-top: var(--spacer-5xl);
}
