.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  height: 100%; /* Full height */
  justify-content: center;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  position: fixed; /* Stay in place */
  top: 0;
  //transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  z-index: 10; /* Sit on top */

  &__content {
    background-color: var(--color-white);
    border: var(--border-width-m) solid;
    border-radius: var(--border-radius-s);
  }
}
