.modal {
  align-items: center;
  background-color: var(--color-transparent-black);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &__content {
    background-color: var(--color-white);
    border: var(--border-width-m) solid var(--primary-color);
    border-radius: var(--border-radius-s);
  }
}
