:root {
  /* Colors */
  --color-first-400: hsl(245, 46%, 39%); /* Home Title */

  --color-second-300: hsl(243, 97%, 72%); /* button-active */
  --color-second-400: hsl(244, 97%, 65%); /* Home button */
  --color-second-500: hsl(244, 66%, 55%); /* button-hover */

  --color-third-100: hsl(218, 84%, 70%); /* button-dev-active */
  --color-third-200: hsl(218, 84%, 62%); /* Developers Academy button */
  --color-third-300: hsl(218, 57%, 52%); /* button-dev-hover */
  --color-third-400: hsl(218, 100%, 38%); /* Developers Academy Title */

  --color-fourth-100: hsl(171, 70%, 40%); /* button-qa-hover */
  --color-fourth-200: hsl(171, 100%, 30%); /* Testers Academy button */
  --color-fourth-300: hsl(171, 100%, 24%); /* button-qa-active */
  --color-fourth-400: hsl(187, 79%, 21%); /* Testers Academy Title */

  --color-fifth-100: hsl(344, 86%, 62%); /* button-fe-hover */
  --color-fifth-150: hsl(342, 100%, 51%); /* Application form star */
  --color-fifth-200: hsl(344, 85%, 52%); /* Front-End Academy button */
  --color-fifth-300: hsl(344, 79%, 42%); /* button-fe-active */
  --color-fifth-400: hsl(344, 100%, 35%); /* Front-End Academy Title */

  --color-sixth-200: hsl(0, 0%, 53%); /* Application form input placeholder */
  --color-sixth-300: hsl(0, 0%, 36%); /* Application form input border */
  --color-sixth-400: hsl(247, 13%, 27%); /* All description texts */

  --color-seventh-400: hsl(29, 93%, 63%); /* button-focus-tab */

  --color-eighth-300: hsl(164, 79%, 50%); /* Icon_Application_form_success */
  --color-eighth-400: hsl(141, 59%, 51%); /* Icon_Academy_check */

  --color-white: hsl(0, 0%, 100%);

  /* Shadows */
  --color-shadow: hsl(270, 11%, 96%);

  /* Border radius */
  --border-radius-400: 4.8rem;

  /* Typography */
  --font-family-base: 'Raleway', sans-serif;
  // font-family: 'Raleway', sans-serif;
  // https://fonts.google.com/specimen/Raleway
  --font-family-headline: 'Montserrat', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // https://fonts.google.com/specimen/Montserrat
  --font-family: var(--font-family-base); /* alias for --font-family-base */

  --font-size-300: 1.4rem; /* footer copyright */
  --font-size-400: 1.8rem;
  --font-size-500: 3.2rem; /* Titles 2 */
  --font-size-600: 3.8rem; /* testimonials-quotation-mark */
  --font-size-700: 4.8rem; /* Titles */
  --font-size: var(--font-size-400); /* alias for --font-size-400 */

  // --font-weight-100: 100;
  // --font-weight-200: 200;
  // --font-weight-300: 300;
  --font-weight-400: 400;
  // --font-weight-500: 500;
  // --font-weight-600: 600;
  --font-weight-700: 700;
  // --font-weight-800: 800;
  // --font-weight-900: 900;

  --line-height-base: 1.5;

  /* Spacers */
  --spacer-xxs: 0.4rem;
  --spacer-xs: 0.8rem;
  --spacer-s: 1.2rem;
  --spacer-m: 1.6rem;
  --spacer: var(--spacer-m); /* alias for --spacer-m */
  --spacer-l: 2rem;
  --spacer-xl: 2.4rem;
  --spacer-xxl: 3.2rem;
  --spacer-xxxl: 4rem;
}
