.header {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  font-size: var(--font-size-m);
  justify-content: space-between;
  padding: var(--spacer-xxl) var(--spacer-5xl);
}

.header-logo__wrapper {
  align-items: center;
  color: var(--color-purple-400);
  display: flex;
  text-decoration: none;

  .logo-icon {
    min-height: var(--spacer-5xl);
    width: var(--spacer-5xl);
  }

  .logo-name {
    font-size: unset;
    font-weight: var(--font-weight-bold);
    line-height: 1;
    margin: 0 0 0 var(--spacer-l);
  }
}

.main-nav__wrapper {
  align-items: center;
  display: flex;
}

.main-nav__list {
  align-items: center;
  display: flex;
  gap: var(--spacer-xl);
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list-item--have-dropdown {
  position: relative;
}

.main-nav__link {
  align-items: center;
  color: var(--color-purple-400);
  display: flex;
  gap: var(--spacer-s);
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;

  // New disign implementation of main-nav menu hover effect
  &::after {
    background-color: var(--color-purple-400);
    content: '';
    height: 0.1em;
    left: 0;
    margin-top: 0.1em;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 100%;
    transition: all 0.3s;
  }

  &:hover::after {
    opacity: 1;
  }
}

.list-item__link--icon {
  width: var(--spacer-m);
}

.dropdown__wrapper {
  border-radius: var(--border-radius-xs);
  // box-shadow: 0 0 var(--spacer-m) var(--shadow); // shadow color from Figma Testimonials borders shadow, it seems too light
  box-shadow: 0 0 var(--spacer-m) hsla(0, 0%, 0%, 0.15); // new shadow color
  padding: var(--spacer-s) 0;
  position: absolute;
  top: 4.8rem; // main-nav height 2rem + dropdown__wrapper::before triangle 1.4 rem + 1.4 rem same heigh as triangle for proportions
  transform: translateX(-25%);
  z-index: 1;

  &::before {
    border: 1.4rem solid transparent;
    border-bottom-color: var(--color-white);
    content: '';
    left: 50%;
    position: absolute;
    top: calc(-1.4rem * 2);
    transform: translateX(-50%);
  }
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown__link {
  color: var(--color-purple-400);
  font-size: var(--font-size-s);
  margin: 0;
  padding: var(--spacer-m) var(--spacer-l);
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: var(--shadow);
  }
}
