.image {
  height: 4rem;
  width: 4rem;
}

.brandName {
  color: #3d3691;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 0 2rem;
}

.brandWrapper {
  align-items: center;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2.8rem 4rem 0;
}

.nav {
  a {
    color: #3d3691;
    margin-left: 2.4rem;
    text-decoration: none;
  }
}

.icon {
  height: 8px;
  margin-left: 0.7rem;
  width: 13.71px;
}
