.academy-section {
  &__developers {
    align-items: center;
    display: flex;
    gap: toRem(50);
    justify-content: space-between;
    width: 100%;

    @include tablet-landscape {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__testers {
    align-items: center;
    display: flex;
    gap: toRem(50);
    justify-content: space-between;
    margin-top: toRem(141);
    width: 100%;

    @include tablet-landscape {
      flex-direction: column;
      flex-wrap: wrap;
      gap: toRem(80);
      justify-content: center;
      width: 100%;
    }

    &--inverted {
      align-items: flex-start;
      flex-direction: row-reverse;
      text-align: right;

      @include tablet-landscape {
        align-items: center;
        flex-direction: row;
        justify-content: center;
        text-align: center;
      }
    }
  }

  &__front-end {
    align-items: center;
    display: flex;
    gap: toRem(50);
    justify-content: space-between;
    margin-top: toRem(175);
    width: 100%;

    @include desktop {
      margin-top: toRem(150);
    }

    @include tablet-landscape {
      flex-direction: column;
      flex-wrap: wrap;
      gap: toRem(80);
      justify-content: center;
    }

    &--inverted {
      align-items: flex-start;
      flex-direction: row-reverse;
      text-align: right;

      @include tablet-landscape {
        align-items: center;
        flex-direction: row;
        justify-content: center;
        text-align: center;
      }
    }
  }

  &__kids {
    align-items: center;
    align-self: flex-start;
    display: flex;
    gap: toRem(50);
    justify-content: space-between;
    margin-top: toRem(120);
    width: 100%;

    @include tablet-landscape {
      flex-direction: column;
      flex-wrap: wrap;
      gap: toRem(80);
      justify-content: center;
    }
  }

  &__description {
    flex-basis: 50%;
    min-width: toRem(380);

    @include tablet-landscape {
      flex-basis: 100%;
    }
  }
}

.developers {
  &__description {
    flex-basis: 50%;
    min-width: toRem(380);

    @include tablet-landscape {
      flex-basis: 100%;
    }
  }

  &__section-images {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    position: relative;

    @include tablet-landscape {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include tablet-landscape {
      flex-basis: 50%;
      width: 100%;
    }

    .section-images__path {
      left: toRem(70);
      position: absolute;
      top: toRem(-260);
      width: 100%;

      @include desktop {
        left: toRem(50);
        width: 120%;
      }

      @include desktop-small {
        left: toRem(50);
        top: toRem(-200);
        width: 130%;
      }
    }

    .section-images__illustration {
      bottom: toRem(30);
      left: toRem(100);
      position: relative;
      width: 67.5%;

      @include desktop {
        min-width: toRem(330);
      }

      @include tablet-landscape {
        position: static;
      }

      @include mobile-only {
        display: none;
      }
    }
  }
}

.testers {
  &__description {
    flex-basis: 50%;
    min-width: toRem(380);

    @include tablet-landscape {
      flex-basis: 100%;
    }
  }

  &__section-images {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    position: relative;

    @include tablet-landscape {
      flex-direction: column;
      flex-wrap: wrap;
      gap: toRem(80);
      justify-content: center;
    }

    .section-images__path {
      position: absolute;
      right: toRem(70);
      top: toRem(-100);
      width: 100%;

      @include desktop {
        right: toRem(30);
        width: 120%;
      }

      @include desktop-small {
        right: toRem(10);
        top: toRem(-85);
        width: 130%;
      }
    }

    .section-images__illustration {
      align-self: flex-start;
      display: flex;
      width: 55%;

      @include desktop {
        min-width: toRem(250);
      }

      @include tablet-landscape {
        width: 100%;
      }

      @include mobile-only {
        display: none;
      }
    }
  }
}

.front-end {
  &__description {
    flex-basis: 50%;
    min-width: toRem(380);

    @include tablet-landscape {
      flex-basis: 100%;
    }
  }

  &__section-images {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    position: relative;

    .section-images__illustration {
      min-width: toRem(300);
      width: 71%;

      @include desktop {
        min-width: toRem(324);
      }

      @include mobile-only {
        display: none;
      }
    }
  }
}

.kids {
  &__description {
    flex-basis: 50%;
    min-width: toRem(380);

    @include tablet-landscape {
      flex-basis: 100%;
    }
  }

  &__section-images {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    position: relative;

    .section-images__path {
      left: toRem(55);
      position: absolute;
      top: toRem(-40);
      width: 102.7%;

      @include desktop {
        top: toRem(-100);
        width: 120%;
      }

      @include desktop-small {
        left: toRem(40);
        top: toRem(-140);
        width: 130%;
      }
    }

    .section-images__illustration {
      align-self: flex-start;
      display: flex;
      left: toRem(55);
      position: relative;
      top: toRem(25);
      width: 71.6%;

      @include desktop {
        min-width: toRem(325);
        top: toRem(-20);
      }

      @include desktop-small {
        top: toRem(-60);
      }

      @include tablet-landscape {
        position: static;
      }

      @include mobile-only {
        display: none;
      }
    }
  }
}
