.footer-wrapper {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: var(--spacer-xxl) var(--spacer-5xl);
}

.icons-wrapper {
  display: flex;
  gap: var(--spacer-m);
}

.icon-box {
  display: flex;
}

.icon-eclipse {
  align-items: center;
  background: var(--color-light-purple-400);
  border-radius: var(--border-radius-normal);
  display: flex;
  height: var(--spacer-5xl);
  justify-content: center;
  width: var(--spacer-5xl);
}

.text {
  color: var(--color-purple-400);
  font-family: var(--font-family-base);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
}

.image {
  height: var(--spacer-5xl);
  width: var(--spacer-5xl);
}

a {
  display: flex;
}
