@use '/src/sass/utilities/functions/index' as *;

.footer-wrapper {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: var(--spacer-xxl) var(--spacer-5xl);
}

.icons-wrapper {
  display: flex;
  gap: var(--spacer-m);
}

.icon-box {
  display: flex;
}

.icon-eclipse {
  align-items: center;
  border-radius: var(--border-radius-normal);
  display: flex;
  height: toRem(40);
  justify-content: center;
  width: toRem(40);
}

.text {
  color: var(--color-purple-400);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
}

.image {
  height: toRem(40);
  width: toRem(40);
}

a {
  display: flex;
}
