@use '/src/sass/utilities/mixins/' as *;
@use '/src/sass/utilities/functions/' as *;

.media-section {
  padding: toRem(190) 0 toRem(138) 0;

  &__heading-wrapper {
    position: relative;
  }

  &__heading {
    margin: 0;
    @include h1-h2;
  }

  &__path-home {
    left: -4rem;
    position: absolute;
    stroke: var(--primary-color);
    stroke-width: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 27%;
    z-index: -10;
  }

  &__path-academies {
    left: -6rem;
    position: absolute;
    stroke: var(--primary-color);
    stroke-width: 2px;
    top: 75%;
    width: toRem(133);
    width: 12%;
    z-index: -10;
  }

  &__particles {
    position: absolute;
    right: 6.2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 63%;
    z-index: -11;
  }

  @include desktop {
    &__path-home {
      width: 30%;
    }
  }

  @include tablet-landscape {
    &__path-home {
      width: 35%;
    }

    &__particles {
      right: 4rem;
      width: 60%;
    }
  }

  @include tablet-portrait {
    &__path-home,
    &__path-academies {
      display: none;
    }

    &__particles {
      display: none;
    }
  }

  .loading-spinner {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: center;
    margin: var(--spacer-3xl) auto 0 auto;
    width: 4rem;

    &::after {
      animation: loading 0.75s ease infinite;
      border: 6px solid var(--color-purple-150);
      border-radius: 50%;
      border-top-color: var(--primary-color);
      content: '';
      height: 100%;
      width: 100%;
    }

    @keyframes loading {
      from {
        transform: rotate(0turn);
      }

      to {
        transform: rotate(1turn);
      }
    }

    @media (prefers-reduced-motion: reduce) {
      &::after {
        animation: none;
        border: 0;
        color: var(--primary-color);
        content: 'Loading...';
        font-size: toRem(24);
        transform: translateX(-50%);
      }
    }
  }
}
