@use '/src/sass/utilities/mixins/' as *;
@use '/src/sass/utilities/functions/' as *;

.apply-section {
  padding: 182px 0 151px;
  position: relative;

  &__img {
    margin: 0;
    padding: var(--spacer-6xl) 0 0;
    width: 50%;

    @include tablet-landscape {
      width: 35%;
    }

    @include tablet-portrait {
      margin-top: var(--spacer-m);
      width: 60%;
    }

    @include mobile-only {
      display: none;
    }
  }

  &__path {
    height: 823px;
    position: absolute;
    right: 60px;
    stroke: var(--primary-color);
    stroke-width: 2px;
    width: 207px;
    z-index: var(--z-paths);

    @include tablet-landscape {
      display: none;
    }
  }

  &__particles {
    position: absolute;
    width: 80%;
    z-index: var(--z-particles);

    @include tablet-landscape {
      display: none;
    }
  }
}
