@use '/src/sass/utilities/mixins/' as *;
@use '/src/sass/utilities/functions/' as *;

.media-section {
  --media-item: 22%;

  padding: toRem(190) 0 toRem(138) 0;

  &__heading-wrapper {
    position: relative;
  }

  &__heading {
    margin: 0;
    @include h1-h2;
  }

  &__path {
    left: -4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: toRem(352);
    width: 27%;
    z-index: -10;
  }

  &__particles {
    position: absolute;
    right: 6.2rem;
    top: 50%;
    transform: translateY(-50%);
    width: toRem(800);
    width: 63%;
    z-index: -11;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(42);
    margin-top: var(--spacer-3xl);
    place-content: flex-start center;
  }

  .media-image,
  .media-video-container {
    border: var(--border-width-m) solid var(--primary-color);
    border-radius: var(--border-radius-s);
    box-shadow: toRem(-20) toRem(20) 0 0 var(--color-grey-100);
    cursor: pointer;
    flex: 1 1 auto;
    height: toRem(218);
    object-fit: cover;
    overflow: hidden;
    width: var(--media-item);
  }

  .media-video-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .media-video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .video-controls {
    align-items: center;
    display: flex;
    height: toRem(90);
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    width: toRem(90);
  }

  .play-button {
    background: none;
    border: 0;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: opacity 0.3s;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }
  }

  .media-image:nth-child(2),
  .media-video-container:nth-child(2),
  .media-image:nth-child(6),
  .media-video-container:nth-child(6) {
    outline: 7px solid #f00; // TODO: remove (only for testing)
    width: clamp(var(--media-item), calc(22% * 1.5), calc(22% * 2));
  }

  @include desktop {
    .media-image:nth-child(2),
    .media-video-container:nth-child(2),
    .media-image:nth-child(6),
    .media-video-container:nth-child(6) {
      outline: 7px solid #daa520; // TODO: remove (only for testing)
      width: var(--media-item);
    }
  }

  @include tablet-landscape {
    --media-item: 44%;

    .media-image,
    .media-video-container {
      width: var(--media-item);
    }

    .media-image:nth-child(2),
    .media-video-container:nth-child(2),
    .media-image:nth-child(6),
    .media-video-container:nth-child(6) {
      outline: 7px solid #adff2f; // TODO: remove (only for testing)
      width: var(--media-item);
    }
  }

  @include tablet-portrait {
    --media-item: 100%;

    .media-image,
    .media-video-container {
      width: var(--media-item);
    }

    .media-image:nth-child(2),
    .media-video-container:nth-child(2),
    .media-image:nth-child(6),
    .media-video-container:nth-child(6) {
      outline: 7px solid #20b2aa; // TODO: remove (only for testing)
      width: var(--media-item);
    }
  }

  @include mobile-only {
    .media-image:nth-child(2),
    .media-video-container:nth-child(2),
    .media-image:nth-child(6),
    .media-video-container:nth-child(6) {
      outline: 7px solid #87cefa; // TODO: remove (only for testing)
    }
  }
}

.modal {
  align-items: center;
  background-color: var(--modal);
  display: flex;
  height: 100%;
  inset: 0;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100;

  .modal-button {
    align-items: center;
    background-color: var(--modal-button);
    border: 2px solid var(--color-purple-400);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: toRem(40);
    justify-content: center;
    transition: background-color 0.3s;
    width: toRem(40);

    &:hover {
      background-color: var(--color-white);
    }

    &--close {
      position: absolute;
      right: var(--spacer-5xl);
      top: var(--spacer-5xl);
    }

    &--prev {
      left: var(--spacer-5xl);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &--next {
      position: absolute;
      right: var(--spacer-5xl);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .icon-image {
    height: 95%;
    width: 95%;

    &--close {
      height: 80%;
      width: 80%;
    }

    &--prev {
      margin-right: 2px;
      transform: rotate(90deg);
    }

    &--next {
      margin-left: 2px;
      transform: rotate(-90deg);
    }
  }

  .full-screen-image-container {
    align-items: center;
    display: flex;
    height: 85%;
    justify-content: center;
    width: 85%;
  }

  .full-screen-image,
  .full-screen-video {
    box-shadow: 0 0 toRem(30) var(--shadow);
    max-height: 100%;
    max-width: 100%;
  }

  .full-screen-image {
    pointer-events: none;
    user-select: none;
  }

  .full-screen-video {
    height: auto;
  }
}
