@use '/src/sass/utilities/mixins/' as *;
@use '/src/sass/utilities/functions/' as *;

.media-section {
  --media-item: 22%;

  padding: toRem(190) 0 toRem(138) 0;

  &__heading-wrapper {
    position: relative;
  }

  &__heading {
    margin: 0;
    @include h1-h2;
  }

  &__path {
    left: -4rem;
    position: absolute;
    stroke: var(--primary-color);
    stroke-width: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: toRem(352);
    width: 27%;
    z-index: -10;
  }

  &__particles {
    position: absolute;
    right: 6.2rem;
    top: 50%;
    transform: translateY(-50%);
    width: toRem(800);
    width: 63%;
    z-index: -11;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(42);
    margin-top: var(--spacer-3xl);
    place-content: flex-start center;
  }

  .media-item {
    cursor: pointer;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
    width: 100%;
  }

  .media-container {
    align-items: center;
    background: var(--color-white);
    border: var(--border-width-m) solid var(--primary-color);
    border-radius: var(--border-radius-s);
    box-shadow: toRem(-20) toRem(20) 0 0 var(--color-grey-100);
    display: flex;
    flex: 1 1 auto;
    height: toRem(218);
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: var(--media-item);

    &:hover .media-item {
      opacity: 0.9;
      transform: scale(1.1);
    }
  }

  .video-controls {
    align-items: center;
    display: flex;
    height: toRem(90);
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    width: toRem(90);
  }

  .play-button {
    background: none;
    border: 0;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: opacity 0.3s;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }
  }

  .media-container:nth-child(2),
  .media-container:last-child {
    min-width: calc(var(--media-item) * 2);
    outline: 7px solid #f00; // TODO: remove (only for testing)
  }

  // max-width: 1200px
  @include desktop {
    &__path {
      width: 30%;
    }

    --media-item: 25%;

    .media-container:nth-child(2),
    .media-container:last-child {
      min-width: var(--media-item);
      outline: 7px solid #daa520; // TODO: remove (only for testing)
    }
  }

  // max-width: 880px
  @include tablet-landscape {
    &__path {
      width: 35%;
    }

    &__particles {
      right: 4rem;
      width: 60%;
    }

    --media-item: 35%;

    .media-container:nth-child(2),
    .media-container:last-child {
      min-width: var(--media-item);
      outline: 7px solid #adff2f; // TODO: remove (only for testing)
    }
  }

  // max-width: 768px
  @include tablet-portrait {
    &__path {
      display: none;
    }

    &__particles {
      display: none;
    }

    &__gallery {
      gap: toRem(32);
    }

    .media-container {
      box-shadow: toRem(-15) toRem(15) 0 0 var(--color-grey-100);
    }

    .media-container:nth-child(2),
    .media-container:last-child {
      outline: 7px solid #20b2aa; // TODO: remove (only for testing)
    }
  }

  // max-width: 480px
  @include mobile-only {
    --media-item: 50%;

    .media-container:nth-child(2),
    .media-container:last-child {
      min-width: var(--media-item);
      outline: 7px solid #87cefa; // TODO: remove (only for testing)
    }
  }
}
